<div style="background-color: rgb(1, 0, 0); padding: 20px;margin:40px 20px;border-radius: 10px;color: white;">
<p>child-component works!</p>
<hr><hr>
{{title()}}
<hr>
{{age()}}

<hr><hr><hr>
<div style="margin-bottom:20px;">
    And this is the derived signal we created with two input signal..
</div>

{{combine()}}


<div style="background-color: cadetblue; margin: 10px; padding: 20px; border-radius: 20px   ;">

    This is the output value emit section through signal 
    Click the button and check the parent content area

    <div style="margin-top: 20px;"> <button style="padding: 5px;border-radius: 10px;" (click)="eventEmit()">Emit Value</button> </div>

</div>
</div>